In [143]:
#Import our dependencies
import psycopg2

import pandas as pd

from sqlalchemy import create_engine
from config import db_password

In [144]:
#Create our connection
connection_dic = {
    "host":"localhost",
    "database":"FinalProject",
    "user":"postgres",
    "password":db_password
}
def connect(connection_dic):
    #Connecting to the postgresql db server
    conn = None
    try:
        #connect to the server
        print('Connecting to the Final Project database...')
        conn = psycopg2.connect(**connection_dic)
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        sys.exit(1)
    print("Connection Successful!")
    return conn

In [145]:
def getdata (conn, select_query, column_names):
    #create our dataframe from db
    cursor = conn.cursor()
    try:
        cursor.execute(select_query)
    except (Exception,psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        cursor.close()
        return 1
    
    # Naturally we get a list of tupples
    tupples = cursor.fetchall()
    cursor.close()
    
    # We just need to turn it into a pandas dataframe
    df = pd.DataFrame(tupples, columns=column_names)
    return df

In [146]:
#Grab the courses_df
conn = connect(connection_dic)
driver_cols = ["position","name","rarity","special_skill"]
courses_cols = ["name","is_reverse","is_trick"]
level1_cols = ["course_name","driver_id_1"]
level3_cols = ["course_name","driver_id_1"]
level6_cols = ["course_name","driver_id_1"]


# Grab the drivers data for our connection
sql_query = "select * from drivers"
drivers_df = getdata(conn, sql_query, column_names)


#Grab the courses data
sql_query = ("select * from courses")
courses_df = getdata(conn, sql_query, courses_cols)

# grab the level 1 driver course data
sql_query = ("select * from level1")
level1_df = getdata(conn, sql_query, level1_cols)

# grab the level 3 driver course data
sql_query = ("select * from level3")
level3_df =  getdata(conn, sql_query, level3_cols)


#grab the level 6 driver course data
sql_query = ("select * from level6")
level6_df = getdata(conn, sql_query, level6_cols)

Connecting to the Final Project database...
Connection Successful!

ValueError: 2 columns passed, passed data had 6 columns

In [69]:
#Close the connection
conn.close()

In [72]:
drivers_df

     position                 name    rarity     special_skill
0           1           Baby Mario    Normal  Boomerang Flower
1           2           Baby Peach    Normal            Bubble
2           3           Baby Daisy    Normal            Bubble
3           4        Baby Rosalina    Normal            Bubble
4           5           Baby Luigi    Normal  Boomerang Flower
..        ...                  ...       ...               ...
115       116       Bowser (Santa)  High-End          Coin Box
116       117  Lakitu (Party Time)  High-End       Lucky Seven
117       118        Birdo (Black)  High-End    Bob-omb Cannon
118       119        Shy Guy Ninja  High-End  Boomerang Flower
119       120  King Bob-omb (Gold)  High-End          Coin Box

[120 rows x 4 columns]

In [52]:
#Grab the driver df
conn = connect(connection_dic)
column_names = ["position","name","rarity","special_skill"]

#Execute a query

drivers_df = getdata(conn, "select * from drivers", column_names)

conn.close()
drivers_df

Connecting to the Final Project database...
Connection Successful!

     position                 name    rarity     special_skill
0           1           Baby Mario    Normal  Boomerang Flower
1           2           Baby Peach    Normal            Bubble
2           3           Baby Daisy    Normal            Bubble
3           4        Baby Rosalina    Normal            Bubble
4           5           Baby Luigi    Normal  Boomerang Flower
..        ...                  ...       ...               ...
115       116       Bowser (Santa)  High-End          Coin Box
116       117  Lakitu (Party Time)  High-End       Lucky Seven
117       118        Birdo (Black)  High-End    Bob-omb Cannon
118       119        Shy Guy Ninja  High-End  Boomerang Flower
119       120  King Bob-omb (Gold)  High-End          Coin Box

[120 rows x 4 columns]