In [6]:
#pip install -U sckit-learn

In [7]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /Users/erikahampton/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (2.9.3)
Note: you may need to restart the kernel to use updated packages.

In [32]:
pip install graphviz

Requirement already satisfied: graphviz in /Users/erikahampton/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (0.20)
Note: you may need to restart the kernel to use updated packages.

In [90]:
import pandas as pd
from sklearn import tree
import pydotplus
from sklearn.tree import DecisionTreeClassifier
import matplotlib.pyplot as plt
import matplotlib.image as pltimg
import requests
import os
import psycopg2

In [91]:
#Importing Dataset
data = 'Resources/final_mariokart_data.csv'
df = pd.read_csv (data)
df

,course_name,driver_id,name,rarity,special_skill,win_loss
0,DS Waluigi Pinball,1,Baby Mario,Normal,Boomerang Flower,1
1,SNES Mario Circuit 1T,1,Baby Mario,Normal,Boomerang Flower,1
2,3DS Cheep Cheep Lagoon,2,Baby Peach,Normal,Bubble,1
3,3DS Daisy Hills R/T,2,Baby Peach,Normal,Bubble,1
4,3DS Daisy Hills T,3,Baby Daisy,Normal,Bubble,1
...,...,...,...,...,...,...
535,3DS Neo Bowser City T,102,Waluigi (Bus Driver),High-End,Triple Bananas,0
536,Vancouver Velocity R,104,Wario (Hiker),High-End,Bob-omb Cannon,0
537,GBA Bowser's Castle 2T,105,Dry Bones (Gold),High-End,Coin Box,0
538,DS Airship Fortress R,108,Dry Bowser (Gold),High-End,Bob-omb Cannon,0
539,3DS Rosalina's Ice World,110,Nabbit,High-End,Wild West Tour,0

In [92]:
#Remove driver_id column
df.drop('driver_id', axis=1, inplace=True)
df

,course_name,name,rarity,special_skill,win_loss
0,DS Waluigi Pinball,Baby Mario,Normal,Boomerang Flower,1
1,SNES Mario Circuit 1T,Baby Mario,Normal,Boomerang Flower,1
2,3DS Cheep Cheep Lagoon,Baby Peach,Normal,Bubble,1
3,3DS Daisy Hills R/T,Baby Peach,Normal,Bubble,1
4,3DS Daisy Hills T,Baby Daisy,Normal,Bubble,1
...,...,...,...,...,...
535,3DS Neo Bowser City T,Waluigi (Bus Driver),High-End,Triple Bananas,0
536,Vancouver Velocity R,Wario (Hiker),High-End,Bob-omb Cannon,0
537,GBA Bowser's Castle 2T,Dry Bones (Gold),High-End,Coin Box,0
538,DS Airship Fortress R,Dry Bowser (Gold),High-End,Bob-omb Cannon,0
539,3DS Rosalina's Ice World,Nabbit,High-End,Wild West Tour,0

In [93]:
#Remove name column
df.drop('name', axis=1, inplace=True)
df

                  course_name    rarity     special_skill  win_loss
0          DS Waluigi Pinball    Normal  Boomerang Flower         1
1       SNES Mario Circuit 1T    Normal  Boomerang Flower         1
2      3DS Cheep Cheep Lagoon    Normal            Bubble         1
3         3DS Daisy Hills R/T    Normal            Bubble         1
4           3DS Daisy Hills T    Normal            Bubble         1
..                        ...       ...               ...       ...
535     3DS Neo Bowser City T  High-End    Triple Bananas         0
536      Vancouver Velocity R  High-End    Bob-omb Cannon         0
537    GBA Bowser's Castle 2T  High-End          Coin Box         0
538     DS Airship Fortress R  High-End    Bob-omb Cannon         0
539  3DS Rosalina's Ice World  High-End    Wild West Tour         0

[540 rows x 4 columns]

In [94]:
#Check the datatypes
df.dtypes

course_name      object
rarity           object
special_skill    object
win_loss          int64
dtype: object

In [98]:
#Create new dataframe
inputs = df

In [99]:
#Add Encoder Library
from sklearn.preprocessing import LabelEncoder

In [100]:
#Identify columns to encode
le_course_name = LabelEncoder()
le_special_skill = LabelEncoder()
le_rarity = LabelEncoder()

In [103]:
#Encode columns, associate a number to text
inputs['course_name_new'] = le_course_name.fit_transform(inputs['course_name'])
inputs['special_skill_new'] = le_special_skill.fit_transform(inputs['special_skill'])
inputs['rarity_new'] = le_rarity.fit_transform(inputs['rarity'])
inputs

,course_name,rarity,special_skill,win_loss,course_name_new,special_skill_new,rarity_new
0,DS Waluigi Pinball,Normal,Boomerang Flower,1,46,3,1
1,SNES Mario Circuit 1T,Normal,Boomerang Flower,1,147,3,1
2,3DS Cheep Cheep Lagoon,Normal,Bubble,1,0,5,1
3,3DS Daisy Hills R/T,Normal,Bubble,1,6,5,1
4,3DS Daisy Hills T,Normal,Bubble,1,7,5,1
...,...,...,...,...,...,...,...
535,3DS Neo Bowser City T,High-End,Triple Bananas,0,14,18,0
536,Vancouver Velocity R,High-End,Bob-omb Cannon,0,172,2,0
537,GBA Bowser's Castle 2T,High-End,Coin Box,0,56,6,0
538,DS Airship Fortress R,High-End,Bob-omb Cannon,0,36,2,0
539,3DS Rosalina's Ice World,High-End,Wild West Tour,0,22,21,0

In [104]:
#Set win_loss as target
inputs = df.drop('win_loss',axis='columns')
target = df['win_loss']

In [105]:
#Remove course_name, name, special_skill & rarity
inputs_new = inputs.drop(['course_name', 'special_skill', 'rarity'],axis='columns')
inputs_new

     course_name_new  special_skill_new  rarity_new
0                 46                  3           1
1                147                  3           1
2                  0                  5           1
3                  6                  5           1
4                  7                  5           1
..               ...                ...         ...
535               14                 18           0
536              172                  2           0
537               56                  6           0
538               36                  2           0
539               22                 21           0

[540 rows x 3 columns]

In [106]:
from sklearn import tree

In [107]:
model = tree.DecisionTreeClassifier()

In [108]:
model.fit(inputs_new,target)

DecisionTreeClassifier()

In [109]:
model.score(inputs_new,target)

0.9740740740740741

In [110]:
import warnings 
warnings.filterwarnings("ignore")

In [112]:
#WINNING COMBINATION
model.predict([[147,3,1]])

array([1])

In [113]:
#LOSING COMBINATION
model.predict([[22,21,0]])

array([0])